{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-new-func": 0
  },
  "overrides": [
    {
      "files": [
        "scripts/**/*.js"
      ],
      "rules": {
        "no-console": "off",
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": true,
            "peerDependencies": false
          }
        ]
      }
    }
  ]
}
